{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>atnpr</title>
   <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
   <link rel="stylesheet"  href="{% static 'css/app.css' %}">

   <link rel="stylesheet" href="{% static 'css/mom-about-us.css' %}">
   <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Tauri|Karla" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
   </head>
 <body>
<!--Top Bar-->
   <div class="top-bar">
 <div class="top-bar-left hide-for-small-only">
   <ul class="dropdown menu" data-dropdown-menu>
        <li> <img src="{% static 'images/mom-logo-nav.png' %}" class="logo-nav"> </li>
       <li><a class="menu-t" href="/">Above the Noise Communications</a></li>
     <li>
   </ul>
 </div>
 <div class="top-bar-right">
     <ul class="dropdown menu" data-dropdown-menu>
       <li><a  href="/" class="menu-option show-for-small-only"><img src="images/mom-logo-nav.png" class="logo-nav"></a>
     <li><a class="menu-option" href="/about">About Us</a></li>
      <li><a class="menu-option" href="/services">Services</a></li>
      <li><a  class="menu-option" href="/contact">Consultations</a></li>
        <li><a  class="menu-option" href="/blog">News</a></li>


     </ul>
 </div>
</div>
<!--Top Bar End-->
<!--Copy Over-->

    <div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'images/moms-hero-image.jpg' %}"
     data-ios-fix="" data-android-fix=""></div>


<section id="overlay"></section>
  <section class="headliner">
  <div class="row">
   <div class="column medium-12 medium-centered columns text-center move-down">
       <div class="logo-hero-wrapper">
         <img src="{% static 'images/logo-recropped.jpg' %}" class="logo-hero">
       </div>
    <h1 class="text-center headline about-headline">{{pagename}}</h1>

   </div>
      </div>
   </section>

<!--Copy Over End-->

<!--   about with headline-->
<div class="about-wrapper">

   <div class="small-12 columns">
      <h1 class="text-left second-headline">Who We Are</h1>

</div>


<div class="media-object stack-for-medium stack-for-small">
 <div class="media-object-section">
      <div class="mom-pic-wrapper">
     <div class="thumbnail">
     <img src="{% static 'images/sandra-pic.jpg' %}" class="show-for-large">
   </div>
     <div class="mom-heading-wrapper">
       <h4 class="mommy-heading show-for-large">Sandra Livinghouse</h4>
          </div>
   </div>
   </div>
 <div class="media-object-section">
   <div class="text-wrapper-about">
   <p class="about-p">Getting a technology innovation adopted in the market these days takes experience and tenacity. The noise is deafening and the competition brutal.  Markets must be defined, product leadership and mindshare built, products launched, customers acquired, categories created, brands established, and chasms crossed. Enter Above the Noise Communications. Whether your goal is to simply build greater mindshare and sales, go public, or sell your company to a large Silicon Valley leader, we can help.
  </p>
   <p class="about-p">Based in Silicon Valley, we work with clients, media and industry influencers globally to help build brands.  We provide expert corporate communications, content marketing and social media services to enterprise technology companies from venture-funded startups to large public organizations.</p>
   <p class="about-p">Sandra Livinghouse, Principal, has more than 20 years of corporate communications experience in agency and corporate settings.  She founded Above the Noise Communications in 1997, and has since advised market leaders such as Cisco, Apple, Sun Microsystems, Borland and Advanced Micro Devices, as well as a wide variety of technology startups. </p>


       <p>  <li class=" social-about no-bullet social text-left"><a href="https://www.linkedin.com/in/sandralivinghouse"><i class="fi-social-linkedin fi-about"></i></a></li> </p>
     </div>
 </div>
</div>
     </div>

<div class="row-our-passion">
   <div class="small-12 columns">
      <h1 class="text-left second-headline hide-for-small-only">Our Passion</h1>
   </div>
</div>

<!-- 3 Section      -->


   <div class="row features hide-for-small-only">

    <div class="medium-4 columns">
       <div class="round-icon">
         <span class="fi-mountains"></span>
       </div>
       <h3>We're on a Mission</h3>
       <hr>
       <p class="icon-p">We provide technology companies with marketing communications and public relations programs to drive greater mindshare and market success. Relevancy is all.</p>
     </div>


       <div class="medium-4 columns">
       <div class="round-icon">
         <span class="fi-star"></span>
       </div>
       <h3>We're Different</h3>
       <hr>
       <p class="icon-p">We know its 90% execution, and we don't act like consultants without skin in the game.  We care about your success, and bring the best to the table.
       </p>
     </div>

     <div class="medium-4 columns">
       <div class="round-icon">
         <span class="fi-torsos-all-female"></span>
       </div>
       <h3>We're Savvy</h3>
       <hr>
       <p class="icon-p">Today's marketplace demands active company-sourced newsroom feeds and content marketing, in addition to more traditional PR and communications programs.   Our team delivers on all counts.
</p>
     </div>
   </div>



    <div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'images/moms-hero-image.jpg' %}"
     data-ios-fix="" data-android-fix=""></div>



   <div class="small-12 columns hide-for-small-only">
      <h1 class="text-left second-headline hide-for-small-only">Clients Represented</h1>
   </div>


<div class="row brands-row hide-for-small-only">
   <div class="small-6 medium-4 columns">
    <img src="{% static 'images/cisco-square.png' %}" class="company-pic">
     <img src="{% static 'images/borland-square.png' %}" class="company-pic">
      <img src="{% static 'images/opengear-square.png' %}" class="company-pic">
   </div>

    <div class="small-6 medium-4 columns">
    <img src="{% static 'images/sun-square.png' %}" class="company-pic">
    <img src="{% static 'images/xerox-square.png' %}" class="company-pic">
     <img src="{% static 'images/peace-square.png' %}" class="company-pic">
   </div>

   <div class="small-6 medium-4 columns">
       <img src="{% static 'images/apple-square.png' %}" class="company-pic apple-logo">
       <img src="{% static 'images/amd-square.png' %}" class="company-pic">
      <img src="{% static 'images/SeeBeyond-square.png' %}" class="company-pic">
   </div>



</div>



<!--Footer-->

<footer class="footer">
 <div class="row">
   <div class="small-12 columns">
   <img class="footer-image" src=" {% static 'images/mom-logo-nav.png' %}">
     <p class="slogan">Above the Noise</p>
     <p class="links footer-links hide-for-small-only">
       <a href="{% url 'home' %}">Home</a>
       <a href="{% url 'about' %}">About Us</a>
       <a href="{% url 'services' %}">Services</a>
          <a href="{% url 'blog' %}">News</a>
      <a href="consultations.php">Consultations</a>
     </p>
     <ul>
     <li class="no-bullet social"><a href="https://www.linkedin.com/in/sandralivinghouse"><i class="fi-social-linkedin text-center"></i></a></li>
     </ul>
     <p class="copywrite">Copyright Above the Noise ©</p>
   </div>
 </div>

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'js/vendor/jquery.js' %}"></script>
<script src="{% static 'js/vendor/what-input.js' %}"></script>
<script src="{% static 'js/jquery-match-height-master-2/dist/jquery.matchHeight-min.js'  %}"></script>
<script src="{% static 'js/parallax.js'  %}"></script>
<script src="{% static 'js/vendor/foundation.js'  %}"></script>
<script src="{% static 'js/app.js'  %}"></script>
<script src="{% static 'js/jquery.modal.js'  %}" charset="utf-8"></script>
<script src="{% static 'js/jquery.scrollify.js'  %}" charset="utf-8"></script>
<script type='text/javascript' src="{% static 'scripts/gen_validatorv31.js'  %}"></script>




 </body>
</html>
